.father{
    width: 40vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    flex-direction: column;  
    
}

.form_input_submit{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.input{
    width: 90%;
    border-radius: 3px;
    border: 0.5px solid #797979;
}
.button_add{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 40px;
    background-color: rgb(189, 101, 245);
    border-radius: 3px;
    border: 0.5px solid #797979;
}
.div_icon_add{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.icon_add{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.div_content_tasks{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    
}
.ul_content_task{
    width: 100%;
    padding-left: 0px;
}

.item_todo{
    list-style-type: none;
    width: 100%;
    background-color: rgb(240, 238, 238);
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top:10px ;
    /* position: relative; */
    border: 0.5px solid #797979;
    border-radius: 3px;
}
.item_todo_content{
    margin:0px;
    height: 100%;
    padding-left: 8px;
    line-height: 40px ;
}
.div_button{
    height: 100%;
    display: none;
}
.button{
    height: 100%;
    width: 40px;
    margin-left:5px ;
}

.button_update{
    background-color: rgb(6, 254, 43);
}
.button_delete{
   
    background-color: rgb(255, 51, 0);
}
.button_read{
    
    background-color: rgb(236, 248, 5);
}
.button:hover{
    cursor: pointer;
}
.action_icon{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.item_todo:hover .div_button{
    display: block;
}

.footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.remaining{
    font-size: 20px;
}
.button_clear{
    color: rgb(255, 255, 255);
    background-color: rgb(159, 87, 225);
    height: 100%;
    width: 25%;
    border-radius: 3px;
    border: 0.5px solid #797979;
}
.button_clear:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .father{
        width: 90vw;
        height: 100vh;
    }
  }





